<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-dark" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Register Event</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1">
                    <label class="item item-input" data-comp-id="textInput.1">
                        <span class="input-label required">Event Name</span>
                        <input type="text">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2">
                    <label class="item item-input" data-comp-id="textInput.2">
                        <span class="input-label required">Site URL</span>
                        <input type="text">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3">
                    <label class="item item-input item-date-icon positive-icon"
                        data-comp-id="dateInput.1">
                        <span class="input-label required">Start Date</span>
                        <input date-format="MM/DD/YYYY" max="2100-12-12" min="1900-01-01"
                            ng-model-options="{allowInvalid: true}" type="date">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.4">
                    <label class="item item-input item-date-icon positive-icon"
                        data-comp-id="dateInput.2">
                        <span class="input-label required">End Date</span>
                        <input date-format="MM/DD/YYYY" max="2100-12-12" min="1900-01-01"
                            ng-model-options="{allowInvalid: true}" type="date">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.5"></div>
            <div class="row" data-comp-id="row.6">
                <div class="col" data-comp-id="column.5">
                    <ion-checkbox data-comp-id="checkbox.1">Exhibiting</ion-checkbox>
                    <ion-checkbox data-comp-id="checkbox.2">Sponsoring</ion-checkbox>
                    <ion-checkbox data-comp-id="checkbox.3" ng-model="data.speaking">Speaking</ion-checkbox>
                </div>
            </div>
        </div>
        <div data-comp-id="div.2">
            <div class="row" data-comp-id="row.7">
                <div class="col" data-comp-id="column.6">
                    <label class="item item-input" data-comp-id="textInput.3">
                        <span class="input-label">First Name</span>
                        <input type="text">
                    </label>
                </div>
                <div class="col" data-comp-id="column.7">
                    <label class="item item-input" data-comp-id="textInput.4">
                        <span class="input-label">Last Name</span>
                        <input type="text">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.8">
                <div class="col" data-comp-id="column.8">
                    <label class="item item-input" data-comp-id="textInput.5">
                        <span class="input-label">Session Topic</span>
                        <input type="text">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.9">
                <div class="col col-50" data-comp-id="column.9">
                    <label class="item item-input item-date-icon positive-icon"
                        data-comp-id="dateInput.3">
                        <span class="input-label" style="">Session Date</span>
                        <input date-format="MM/DD/YYYY" max="2100-12-12" min="1900-01-01"
                            ng-model-options="{allowInvalid: true}" type="date">
                    </label>
                </div>
                <div class="col col-50" data-comp-id="column.10">
                    <label class="item item-input item-time-icon positive-icon"
                        data-comp-id="timeInput.1">
                        <span class="input-label">Session time</span>
                        <input time-format="HH:mm" type="time">
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>